[submodule "diograph-js"]
	path = diograph-js
	url = git@github.com:DioryMe/diograph-js.git
[submodule "demo-content-room"]
	path = demo-content-room
	url = git@github.com:DioryMe/demo-content-room.git
