[submodule "diograph-js"]
	path = diograph-js
	url = git@github.com:DioryMe/diograph-js.git
[submodule "@diograph/file-generator"]
	path = @diograph/file-generator
	url = git@github.com:DioryMe/file-generator.git
